{% extends "decorators/web.html" %}
{% block content %}
<!-- Banner -->
  <!-- ***** Main Banner Area Start ***** -->
  <div id="top">
    <div class="container-fluid">
        <div class="row bg-dark">
            <div class="col-lg-4">
                <div class="left-content">
                    <div class="inner-content">
                        <h4>Wallet</h4>
                        <h6>digital</h6>
                        <div class="main-white-button scroll-to-section">
                            <a href="#reservation">Tạo ví số đẹp</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="main-banner header-text">
                    <div class="Modern-Slider">
                      <!-- Item -->
                      <div class="item">
                        <div class="img-fill">
                            <img src="{{url_for('static',filename ='/assets/image/banner_1.jpg')}}" alt="">
                        </div>
                      </div>
                      <!-- // Item -->
                      <!-- Item -->
                      <div class="item">
                        <div class="img-fill">
                            <img src="{{url_for('static',filename ='/assets/image/banner_2.jpg')}}" alt="">
                        </div>
                      </div>
                      <!-- // Item -->
                      <!-- Item -->
                      <div class="item">
                        <div class="img-fill">
                            <img src="{{url_for('static',filename ='/assets/image/banner_2.jpg')}}" alt="">
                        </div>
                      </div>
                      <!-- // Item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
<!-- end banner -->


<section class="about_section layout_padding">
    <div class="container">
      <h2 class="text-uppercase">
        Lợi ích 
      </h2>
    </div>

    <div class="container">
      <div class="about_card-container layout_padding2-top">
        <div class="about_card">
          <div class="about-detail">
            <div class="about_img-container">
              <div class="about_img-box">
                <img src="{{url_for('static',filename='/assets/image/benefit_1.jpg')}}" alt="" />
              </div>
            </div>
            <div class="card_detail-ox">
              <h4>
                Thanh toán ngay   
              </h4>
              <p>
                Vừa chat vừa chuyển tiền ngay trong trang web. Thanh toán mọi dịch vụ mà không cần tải thêm app.
              </p>
            </div>
          </div>
        </div>
        <div class="about_card">
          <div class="about-detail">
            <div class="about_img-container">
              <div class="about_img-box">
                <img src="{{url_for('static',filename='/assets/image/benefit_2.jpg')}}" alt="" />
              </div>
            </div>
            <div class="card_detail-ox">
              <h4>
                Đa dạng dịch vụ
                </h4>
              <p>
                Hàng trăm dịch vụ tiện ích, hàng ngàn điểm chấp nhận thanh toán trên cả nước.
              </p>
            </div>
          </div>
        </div>
        <div class="about_card">
          <div class="about-detail">
            <div class="about_img-container">
              <div class="about_img-box">
                <img src="{{url_for('static',filename='/assets/image/benefit_3.jpg')}}" alt="" />
              </div>
            </div>
            <div class="card_detail-ox">
              <h4>
                Ưu đãi hấp dẫn              </h4>
              <p>
                Tận hưởng các chương trình khuyến mãi hấp dẫn cho mọi dịch vụ, mọi đối tác.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->
    <!-- who section -->
    <section class="who_section py-4 bg-dark">
        <div class="container who_container">
          <div class="who_img-box">
            <img src="{{url_for('static',filename='/assets/image/detail.jpg')}}" alt="" />
          </div>
          <div class="who_deail-box ">
            <h2>
              Ví điện tử là gì?
            </h2>
            <p class="text-center text-light">
              Ví điện tử, có tên gọi khác là ví số, là một tài khoản online dùng để thanh toán các giao dịch trực tuyến phổ biến hiện nay.
              Tài khoản của ví điện tử có thể lưu trữ tất cả thông tin cá nhân của người dùng, thậm chí nó còn liên kết cả tài khoản ngân hàng để tiến hành giao dịch nhanh chóng hơn.
              Chỉ cần bạn sở hữu điện thoại thông minh hay laptop, mạng wifi và tài khoản thì có thể thực hiện các giao dịch một cách nhanh chóng dù bất kì nơi nào.  
            </p>
            <div>
              <a href="">
                Đọc thêm
              </a>
            </div>
          </div>
        </div>
      </section>
  
      <!-- end who section -->
  
      <!-- feature section  -->
      <section class="feature_section layout_padding">
        <div class="container">
          <h2 class="text-uppercase">
            Chức năng
          </h2>
        </div>
        <div class="">
          <div class="feature_card-container layout_padding2">
            <div class="feature_card">

              <div class="feature_detail-box">
                <h4>
                  Tạo nhiều ví
                </h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                  enim ad minim veniam, quis nostrud exercitation ullamco laboris
                  nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                  in reprehenderit in voluptate velit esse
                </p>
              </div>
            </div>
            <div class="feature_card">
    
              <div class="feature_detail-box">
                <h4>
                  Tạo ví số đẹp
                </h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                  enim ad minim veniam, quis nostrud exercitation ullamco laboris
                  nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                  in reprehenderit in voluptate velit esse
                </p>
              </div>
            </div>
            <div class="feature_card">
        
              <div class="feature_detail-box">
                <h4>
                  Ví của tôi
                </h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                  enim ad minim veniam, quis nostrud exercitation ullamco laboris
                  nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                  in reprehenderit in voluptate velit esse
                </p>
              </div>
            </div>

          </div>
        </div>
      </section>
  
      <!-- end feature section -->
{% endblock %}