{% extends "decorators/web.html" %}
{% block content %}
<div class="container">
    <div class="d-flex flex-column justify-content-center align-items-center py-4 ">
        <img src={{url_for('static',filename="/assets/image/moreWallet.jpg")}}
          width="75%" height="250px" 
        />
        <h1 class="my-3">Thêm nhiều ví</h1>
        <div class="w-75">
            <form>
                <div class="form-group row mx-0"
                >
                    <label for="inputNumber" class="col-form-label">Nhập số lượng ví:</label>
                    <div class="col pr-0">
                      <input type="number" min="0" class="form-control" 
                      id="inputNumber" placeholder="amount...">
                    </div>
                </div>

                <div class="d-flex ">
                  <button type="submit" class= " btn btn-primary mr-3 flex-fill "
                  style="height:45px;"
                  >Tạo</button>
                  <button type="submit" class= " btn btn-danger ml-3 flex-fill"
                  style="height:45px;"
                  >Lưu</button>
                </div>

            </form>
        </div>
        <div class="row mt-5 row-cols-lg-3 row-cols-1  g-4 border-top border-dark p-5">

            <div class="col p-3" >
              <div class="card " style="min-height: 0!important;">
                <div class="card-body">
                  <h5 class="card-title">Wallet digital</h5>
                  <h6 class="card-subtitle mb-2 text-muted">00002123</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>

            <div class="col p-3" >
              <div class="card " style="min-height: 0!important;">
                <div class="card-body">
                  <h5 class="card-title">Wallet digital</h5>
                  <h6 class="card-subtitle mb-2 text-muted">00002123</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
            <div class="col p-3" >
              <div class="card " style="min-height: 0!important;">
                <div class="card-body">
                  <h5 class="card-title">Wallet digital</h5>
                  <h6 class="card-subtitle mb-2 text-muted">00002123</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
            <div class="col p-3" >
              <div class="card " style="min-height: 0!important;">
                <div class="card-body">
                  <h5 class="card-title">Wallet digital</h5>
                  <h6 class="card-subtitle mb-2 text-muted">00002123</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
        </div>

    </div>
</div>

{% endblock%}